.liste {
    margin: 20px 0;
  
    h2 {
      font-size: 1.5rem;
      color: white;
    }
  
    ul {
      padding-left: 20px;
  
      li {
        font-size: 1.2rem;
        margin: 5px 0;
        color: white;
      }
    }
  }
  