* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 70%;
  margin: 0 auto;
}
